

@font-face {
    font-family: 'NexaBold';
    src: url('../font/nexa-bold.otf') format('otf'),
    url('../font/nexa-bold.ttf') format('ttf'),
    url('../font/nexa-bold.woff') format('woff');
}


@font-face {
    font-family: 'NexaLight';
    src: url('../font/nexa-light.otf') format('otf'),
    url('../font/nexa-bold.ttf') format('ttf'),
    url('../font/nexa-light.woff') format('woff');
}

html,body{
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 3s ease-in-out forwards;
}

@keyframes loading {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 999;
    width: 600px;
    height: auto;
}

.logo img{
    width: 100%;
}


/* navbar */


nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 70px;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
    color:#fff;
    z-index: 1;
    height: 150px;
}

.navbar.show {
    opacity: 1;
}

.nav_logo{
    width: 239px;
    height: 50px;
}

.nav_logo img{
    width: 100%;
}

.navbar_wrap{
    display: flex;
    align-items: center;
}

.navbar .navbar_item{
    margin-right: 52px;
}

.navbar .navbar_item:last-child{
    margin-right: 0;
}


.navbar .navbar_item a{
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
}

/* main */

.main_top{
    height: 100vh;
    position: relative;
}


.main{
    width: 100%;
    background-color: #000;
    position: relative;
    display: none;
}



.main_top_content{
    padding-left: 78px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.main_top_content .line {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.main_top_content h2{
    font-family: 'NexaBold',sans-serif;
    font-size: 173.34px;
    line-height:220px;
    color: #fff;
    position: absolute;
}

.main_top_content h2 {
    opacity: 0;
    /* h2 요소를 숨김 */
    animation: move-up 1s ease-in-out forwards;
    /* 애니메이션 설정 */
}

/* @keyframes 규칙 정의 */
@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
        /* 50px 만큼 아래로 이동 */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* 원래 위치로 이동 */
    }
}


/* main_sub */

.main_sub {
    position: relative;
}

.marquee {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.track {
    overflow: hidden;
    display: flex;
    max-width: 100%;
}

.motion_wrap {
    display: flex;
    align-items: center;
}

.marquee li {
    font-size: 226px;
    font-weight: bold;
    letter-spacing: -4.52px;
    -webkit-text-stroke: 2px #fff;
    color: #010101;
}

.marquee .text-stroke {
    color: #fff;
}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes flowRolling1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* 반응형 스타일 */
@media (max-width: 1280px) {
    .flow_banner .list > li {font-size: 16px;padding: 10px;}
}

@media (max-width: 767px) {
    .flow_banner .list > li {font-size: 14px;padding: 5px;}
}