

@font-face {
    font-family: 'NexaBold';
    src: url('../font/nexa-bold.otf') format('otf'),
    url('../font/nexa-bold.ttf') format('ttf'),
    url('../font/nexa-bold.woff') format('woff');
}


@font-face {
    font-family: 'NexaLight';
    src: url('../font/nexa-light.otf') format('otf'),
    url('../font/nexa-bold.ttf') format('ttf'),
    url('../font/nexa-light.woff') format('woff');
}

@font-face {
    font-family: 'HighSummit';
    src: url('../font/HighSummit.otf') format('otf'),
    url('../font/HighSummit.ttf') format('ttf'),
}

html,body{
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 3s ease-in-out forwards;
}

@keyframes loading {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 999;
    width: 600px;
    height: auto;
}

.logo img{
    width: 100%;
}


/* navbar */


nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 70px;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
    color:#fff;
    z-index: 1;
    height: 150px;
}

.navbar.show {
    opacity: 1;
}

.nav_logo{
    width: 239px;
    height: 50px;
}

.nav_logo img{
    width: 100%;
}

.navbar_wrap{
    display: flex;
    align-items: center;
}

.navbar .navbar_item{
    margin-right: 52px;
}

.navbar .navbar_item:last-child{
    margin-right: 0;
}


.navbar .navbar_item a{
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
}

.main_navbar {
    display:flex;
}

/* main */

.main_top{
    height: 100vh;
    position: relative;
}


.main{
    width: 100%;
    background-color: #000;
    position: relative;
    display: none;
}



.main_top_content{
    padding-left: 78px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.main_top_content .line {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.main_top_content h2{
    font-family: 'NexaBold',sans-serif;
    font-size: 173.34px;
    line-height:220px;
    color: #fff;
    position: absolute;
}

.main_top_content h2 {
    opacity: 0;
    /* h2 요소를 숨김 */
    animation: move-up 1s ease-in-out forwards;
    /* 애니메이션 설정 */
}

/* @keyframes 규칙 정의 */
@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
        /* 50px 만큼 아래로 이동 */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* 원래 위치로 이동 */
    }
}


/* main_sub */

.main_sub {
    position: relative;
}

.marquee {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.track {
    overflow: hidden;
    display: flex;
    max-width: 100%;
}

.motion_wrap {
    display: flex;
    align-items: center;
}

.marquee li {
    font-size: 226px;
    font-weight: bold;
    letter-spacing: -4.52px;
    -webkit-text-stroke: 2px #fff;
    color: #010101;
}

.marquee .text-stroke {
    color: #fff;
}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes flowRolling1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* 반응형 스타일 */
@media (max-width: 1280px) {
    .flow_banner .list > li {font-size: 16px;padding: 10px;}
}

@media (max-width: 767px) {
    .flow_banner .list > li {font-size: 14px;padding: 5px;}
}

/* WORK */

.work_content {
    /* width:100%;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
    padding-left:78px; */
    padding : 181px 0px 51px 78px;
}


.work_content .work_content-wrap {
    display:flex;
}

.work_content .work_content-wrap .work_content-list{
    font-family: 'NexaLight', sans-serif;
    color: #fffefe;
    display: block;
    font-size:25px;
    padding:0px 20px 0px 0px;
}

.work_content .work_content-wrap .work_content-list::after {
    content:"";
    display: inline-block;
    border: 1px solid #fffefe;
    height:19px;
    margin-left:20px;
}

.work_content .work_content-wrap .work_content-list:nth-last-child(1) {
    padding: 0px;
}

.work_content .work_content-wrap .work_content-list:nth-last-child(1)::after {
    display: none;
}


.work_content_boxBg {
    padding: 0px 0px 0px 78px;
}

.work_content_boxBg .work_content_box-wrap {
    display: flex;
}

.work_content_boxBg .work_content_box-wrap .work_content_box {
    margin-right: 145px;
}

.work_content_boxBg .work_content_box-wrap .work_content_box .box {
    width:601px;
    height:601px;
    background-color:#d3d3d3;
}

.work_content_boxBg .work_content_box-wrap .work_content_box .text {
    font-family: 'HighSummit';
    color: #fffefe;
}

/* work_page */

.work_page_s01 {
    max-width:1770px;
    padding: 260px 78px 0px 78px;
}

.work_page_s01 h1 {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    display: block;
    font-size:117px;
}

.work_page_s01 .s01_text {
    display: flex;
    margin: 59px 0px 58px 0px;
}

.work_page_s01 .s01_text .text {
    display: flex;
}


.work_page_s01 .s01_text .text:nth-child(1)::after {
    content:"";
    height: 16px;
    border:1px solid #fff;
    margin: 0px 35px 0px 35px;
}

.work_page_s01 .s01_text .text p:nth-child(1) {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    font-size:20px;
    display: block;
    padding-right:15px;
}

.work_page_s01 .s01_text .text p:nth-child(2) {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:20px;
    display: block;
}

.s01_slide-wrap {
    position: relative;
    width:100%;
    height:996px;
    background-color:#d4d4d4;
}

.s01_btn {
    display: flex;
    position:absolute;
    width:100%;
    justify-content: space-between;
    top:50%;
    transform:translateY(-50%);
}

.s01_btn_prev {
    position:absolute;
    left:50px;
}

.s01_btn_next {
    position:absolute;
    right:50px;
}

.s01_btn div img {
    width:43px;
    height:107px;
}

.work_page_s02 {
    max-width:1770px;
    position: relative;
    margin: 100px 78px 0px 78px;
}

.work_page_s02 h2 {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    font-size:80px;
    text-align: right;
}

.work_page_s02 .line {
    width:100%;
    border: 1px solid #fff;
    margin:24px 0px 33px 0px;
}

.work_page_s02 .s02_fx_wrap {
    display: flex;
    justify-content: flex-end;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left {
    padding-right:36px;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left .text {
    font-family: 'NexaBold', sans-serif;
    color: #fffefe;
    font-size:60px;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left .arrow_right {
    text-align: right;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left .arrow_right img {
    width: 187px;
    height:103px;
    margin-top:45px;
}

.work_page_s02 .s02_fx_wrap .s02_fx_right {
    width: 693px;
    height: 694px;
    background-color: #acacac;
}

.work_page_s03 {
    padding: 260px 0px 0px 0px;
}

.work_page_s03 .motion_content .marquee {
    height:0%;
}

.work_page_s03 .motion_content .marquee .track h2 {
    font-family: 'NexaBold', sans-serif;
    color: #fffefe;
    font-size:228px;
    white-space: nowrap;
}

footer {
    padding:145px 0px 0px 78px;
}

footer .footer_nav .list {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:36.5px;
    display: block;
    line-height: 54.5px;
}

footer .footer_nav .list img {
    width:25px;
    height:25px;
}

footer p{
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:20.5px;
    display: block;
    padding:101px 0px 56px 0px;
}