

@font-face {
    font-family: 'NexaBold';
    src: url('../font/nexa-bold.otf') format('otf'),
    url('../font/nexa-bold.ttf') format('ttf'),
    url('../font/nexa-bold.woff') format('woff');
}


@font-face {
    font-family: 'NexaLight';
    src: url('../font/nexa-light.otf') format('otf'),
    url('../font/nexa-bold.ttf') format('ttf'),
    url('../font/nexa-light.woff') format('woff');
}

@font-face {
    font-family: 'HighSummit';
    src: url('../font/HighSummit.otf') format('otf'),
    url('../font/HighSummit.ttf') format('ttf'),
}

html,body{
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 3s ease-in-out forwards;
}

@keyframes loading {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    z-index: 999;
    width: 600px;
    height: auto;
}

.logo img{
    width: 100%;
}


/* navbar */


nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 70px;
    background-color:#000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: none;
    color:#fff;
    z-index: 1;
    height: 150px;
}

.navbar.show {
    opacity: 1;
}

.nav_logo{
    width: 239px;
    height: 50px;
}

.nav_logo img{
    width: 100%;
}

.navbar_wrap{
    display: flex;
    align-items: center;
}

.navbar .navbar_item{
    margin-right: 52px;
}

.navbar .navbar_item:last-child{
    margin-right: 0;
}


.navbar .navbar_item a{
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
}

.main_navbar {
    display:flex;
}

/* main */

.main_top{
    height: 100vh;
    position: relative;
}


.main{
    width: 100%;
    background-color: #000;
    position: relative;
    display: none;
}



.main_top_content{
    padding-left: 78px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.main_top_content .line {
    width: 100%;
    height: 180px;
    position: relative;
    overflow: hidden;
}

.main_top_content h2{
    font-family: 'NexaBold',sans-serif;
    font-size: 173.34px;
    line-height:220px;
    color: #fff;
    position: absolute;
}

.main_top_content h2 {
    opacity: 0;
    /* h2 요소를 숨김 */
    animation: move-up 1s ease-in-out forwards;
    /* 애니메이션 설정 */
}

/* @keyframes 규칙 정의 */
@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
        /* 50px 만큼 아래로 이동 */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* 원래 위치로 이동 */
    }
}


/* main_sub */

.main_sub {
    position: relative;
}

.marquee {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.track {
    overflow: hidden;
    display: flex;
    max-width: 100%;
}

.motion_wrap {
    display: flex;
    align-items: center;
}

.marquee li {
    font-size: 226px;
    font-weight: bold;
    letter-spacing: -4.52px;
    -webkit-text-stroke: 2px #fff;
    color: #010101;
}

.marquee .text-stroke {
    color: #fff;
}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes flowRolling1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* 반응형 스타일 */
@media (max-width: 1280px) {
    .flow_banner .list > li {font-size: 16px;padding: 10px;}
}

@media (max-width: 767px) {
    .flow_banner .list > li {font-size: 14px;padding: 5px;}
}

/* WORK */

.work_content {
    /* width:100%;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
    padding-left:78px; */
    padding : 181px 0px 51px 78px;
}


.work_content .work_content-wrap {
    display:flex;
    flex-wrap: wrap;
}

.work_content .work_content-wrap .work_content-list{
    font-family: 'NexaLight', sans-serif;
    color: #fffefe;
    display: block;
    font-size:25px;
    padding:0px 20px 0px 0px;
    line-height: 34px;
}

.work_content .work_content-wrap .work_content-list::after {
    content:"";
    display: inline-block;
    border: 1px solid #fffefe;
    height:19px;
    margin-left:20px;
}

.work_content .work_content-wrap .work_content-list:nth-last-child(1) {
    padding: 0px;
}

.work_content .work_content-wrap .work_content-list:nth-last-child(1)::after {
    display: none;
}


.work_content_boxBg {
    padding: 51px 0px 0px 0px;
}

.work_content_boxBg .work_content_box-wrap {
    display: flex;
}

.work_content_boxBg .work_content_box-wrap .work_content_box {
    margin-right: 145px;
}

.work_content_boxBg .work_content_box-wrap .work_content_box .box {
    width:601px;
    aspect-ratio: 1/1;
    background-color:#d3d3d3;
}

.work_content_boxBg .work_content_box-wrap .work_content_box .text {
    font-family: 'NexaBold',sans-serif;
    font-size: 20px;
    text-align: center;
    padding:29px 0px;
}

.work_content_boxBg .work_content_box-wrap .work_content_box .text a {
    text-decoration: none;
    color: #fffefe;
}


/* 반응형 스타일 */


@media (max-width: 767px) {

    .work_content {
        padding: 181px 0px 0px 0px;
        width: 90%;
        margin: 0 auto;
    }

    .work_content_boxBg .work_content_box-wrap .work_content_box .text {
        font-size: 16px;
    }

    .work_content_boxBg .work_content_box-wrap {
        display: flex;
        overflow: hidden;
    }
    .work_content_boxBg .work_content_box-wrap .work_content_box .box {
        width:80vw;
        overflow-x: hidden;
    }

    .work_content .work_content-wrap .work_content-list::after {
        display: none;
    }
}


/* work_page */

.work_page_s01 {
    max-width:1770px;
    padding: 260px 78px 0px 78px;
}

.work_page_s01 h1 {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    display: block;
    font-size:117px;
}

.work_page_s01 .s01_text {
    display: flex;
    margin: 59px 0px 58px 0px;
}

.work_page_s01 .s01_text .text {
    display: flex;
}


.work_page_s01 .s01_text .text:nth-child(1)::after {
    content:"";
    height: 16px;
    border:1px solid #fff;
    margin: 0px 35px 0px 35px;
}

.work_page_s01 .s01_text .text p:nth-child(1) {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    font-size:20px;
    display: block;
    padding-right:15px;
    line-height: 28px;
}

.work_page_s01 .s01_text .text p:nth-child(2) {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:20px;
    display: block;
}

.s01_slide-wrap {
    position: relative;
    width:100%;
    /* height:996px; */
    aspect-ratio: 16/10;
    background-color:#d4d4d4;
}

.s01_btn {
    display: flex;
    position:absolute;
    width:100%;
    justify-content: space-between;
    top:50%;
    transform:translateY(-50%);
}

.s01_btn_prev {
    position:absolute;
    left:50px;
    transform: translateY(-50%);
    top: 50%;
}

.s01_btn_next {
    position:absolute;
    right:50px;
    transform: translateY(-50%);
    top: 50%;
}

.s01_btn div img {
    width:43px;
    height:107px;
}

.work_page_s02 {
    max-width:1770px;
    position: relative;
    margin: 100px 78px 0px 78px;
}

.work_page_s02 h2 {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    font-size:80px;
    text-align: right;
}

.work_page_s02 .line {
    width:100%;
    border: 1px solid #fff;
    margin:24px 0px 33px 0px;
}

.work_page_s02 .s02_fx_wrap {
    display: flex;
    justify-content: flex-end;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left {
    padding-right:36px;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left .text {
    font-family: 'NexaBold', sans-serif;
    color: #fffefe;
    font-size:60px;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left .arrow_right {
    text-align: right;
}

.work_page_s02 .s02_fx_wrap .s02_fx_left .arrow_right img {
    width: 187px;
    height:103px;
    margin-top:45px;
}

.work_page_s02 .s02_fx_wrap .s02_fx_right {
    width: 693px;
    aspect-ratio: 1/1;
    background-color: #acacac;
}

.work_page_s03 {
    padding: 260px 0px 0px 0px;
}

.work_page_s03 .motion_content .marquee {
    height:0%;
}

.work_page_s03 .motion_content .marquee .track h2 {
    font-family: 'NexaBold', sans-serif;
    color: #fffefe;
    font-size:228px;
    white-space: nowrap;
}


@media (max-width: 767px) {

    .work_page_s01 h1 {
        font-size: 70px;
    }
    .work_page_s01 .s01_text {
        flex-direction: column;
        margin: 59px 0px 20px 0px;
    }
    .work_page_s01 .s01_text .text{
        align-items: center;
    }
    .work_page_s01 .s01_text .text:nth-child(1)::after {
        display: none;
    }
    .s01_btn_prev {
        left: 20px;
    }
    .s01_btn_next {
        right: 20px;
    }
    .s01_btn_prev , .s01_btn_next{
        transform: translateY(-50%) scale(.5);
    }

    .work_page_s02 h2 {
        font-size: 36px;
    }

    .work_page_s02 .line {
        margin: 10px 0px 10px 0px;
    }

    .work_page_s02 .s02_fx_wrap .s02_fx_right {
        width: 100%;
    }
    .work_page_s02 .s02_fx_wrap {
        flex-direction: column;
    }

    .work_page_s02 .s02_fx_wrap .s02_fx_left {
        padding-right: 0px;
    }

    .work_page_s02 .s02_fx_wrap .s02_fx_left .text {
        font-size: 26px;
        line-height: 34px;
    }

    .work_page_s02 .s02_fx_wrap .s02_fx_left .arrow_right img {
        width: 121px;
        height: auto;
        margin: 20px 0px;
    }
}


/* contact */

.contact_s01 {
    padding: 467px 68px 0px 68px;
}

.contact_s01 .text_box {
    display: flex;
    justify-content: space-between;
}

.contact_s01 .text_box h1 {
    font-family: 'NexaBold', sans-serif;
    color: #fffefe;
    font-size:117px;
    letter-spacing: -2.34px;
}

.contact_s01 p {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:19.5px;
    line-height: 25px;
    text-align: right;
}

.contact_s01 .text_wrap {
    padding : 79px 0px 71px 0px;
}

.contact_s01 .text_wrap li {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:90.5px;
    line-height: 99.5px;
    display: block;
    letter-spacing: -1.81px;
}

.contact_s02 {
    padding: 124px 75px 0px 75px;
    position:relative;
}

.contact_s02 form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact_s02 form .contact {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:29.5px;
    line-height: 49px;
    width: 600px;
}


.contact_s02 form .contact ul li {
    border-bottom:1px solid #fff;
    display: flex;
    /* height:133px; */
    padding-top:95px;
}

.contact_s02 form .contact ul li:nth-child(1) {
    padding-top:0px;
}

.contact_s02 form .contact ul li label {
    width:30%;
}

.contact_s02 form .contact ul li input {
    font-family: 'NexaLight', sans-serif;
    background-color: transparent;
    outline: none;
    border: none;
    /* text-align: right; */
    width: 100%;
    font-size: 29.5px;
    color:#5a5a5a;
    text-align: left;
}

.contact_s02 form .btn button {
    cursor: pointer;
    position: relative;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 30px;
}

.contact_s02 form .btn button div{
    position: relative;
}

.contact_s02 form .btn button p:nth-child(1) {
    font-family: 'NexaBold', sans-serif;
    color: #fff;
    font-size:46.5px;
    line-height: 49px;
    border-bottom:1px solid #fff;
    width:280px;
    text-align: left;
}


.contact_s02 form .btn button .arr span {
    position:relative;
}

.contact_s02 form .btn button .arr::after {
    content:'';
    display: inline-block;
    width:80px;
    height:80px;
    border-top:1px solid #fff;
    transform:rotate(45deg);
    position: absolute;
    top:9px;
    right:17px;
}

@media (max-width: 767px) {

    .contact_s01 {
        width: 90%;
        padding: 150px 0px 0px 0px;
        margin: 0 auto;
    }
    .contact_s01 .text_box {
        flex-wrap: wrap;
        align-items: center;
    }

    .contact_s01 p {
        text-align: left;
        font-size:14px;
        line-height: 14px;
        padding:10px 0px;
    }

    .contact_s01 .text_box h1 {
        font-size: 36px;
    }

    .contact_s01 .text_wrap li {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
    }

    .contact_s01 .text_wrap {
        padding: 20px 0px;
    }

    .contact_s02 {
        padding: 50px 0px;
        width:100%;
    }

    .contact_s02 form .contact {
        font-size: 16px;
        line-height: 16px;
        width: 100%;
    }

    .contact_s02 form {
        flex-wrap: wrap;
        width: 90%;
        margin: 0  auto;
    }


    .contact_s02 form .contact ul li input {
        font-size: 16px;
        padding-bottom: 7px;
    }
    .contact_s02 form .contact ul li{
        flex-direction: column;
        padding-top: 55px;}

    .contact_s02 form .btn button {
        position: static;
        margin-top: 50px;
    }
    .contact_s02 form .btn button p:nth-child(1){
        font-size: 36px;
        width: 220px;
    }
    .contact_s02 form{
        justify-content: flex-end;
    }
    .contact_s02 form .contact ul li label{
        margin-bottom: 20px;
    }

    
}

footer {
    padding:145px 0px 0px 78px;
}

footer .footer_nav .list {
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:36.5px;
    display: block;
    line-height: 54.5px;
}

footer .footer_nav .list img {
    width:25px;
    height:25px;
}

footer p{
    font-family: 'NexaLight', sans-serif;
    color: #fff;
    font-size:20.5px;
    display: block;
    padding:101px 0px 56px 0px;
}

@media (max-width: 767px) {
    .work_page_s03{padding: 80px 0px 0px 0px;}
    .work_page_s03 .motion_content .marquee .track h2{font-size: 80px;}
    footer {
        padding: 80px 0px 0px 0px;
        width: 90%;
        margin: 0 auto;
    }
    footer .footer_nav .list{font-size: 16px; line-height: 30px;}
    footer p {
        font-size: 14px;
        padding: 40px 0px;
    }

    footer .footer_nav .list img{width: 15px; height: auto;}









}